.back_image {
background:url('/Users/kavyamurali/Documents/Project 1 - TrialWebsite/images/back_image.jpeg');
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;

}

.header {
    padding: 40px;
    text-align: center;
    background: #ddb8b8 ;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 30px;
    height: 500px;

  }
  /*Top header profile image*/
  .profile-small {
    height: 200px;
    border-radius: 50%;
    border: 10px solid #622f62;
    text-align: center;

  }

  .header h1, .header h2 {
    animation-duration: 5s; 
    animation-name: slide-in;
  }

  @keyframes slide-in {
  
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .column-2 {
    float: left;
    width: 35%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 475px;
    margin: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    background-color: #FEDE00;
    line-height: 2;
  }



  .large-profile {
    background: url('/Users/kavyamurali/Documents/Project 1 - TrialWebsite/images/about_me.png');
    background-size: cover;
    background-position:center;
  }
  
  .section-heading {
    text-align: center;
    color: #102c4e;
    margin-top: 150px;
    margin-bottom: 70px;
    font-size: 35px;
  }

  /* Sizing for Project containers */
  .column-4 {
    float: left;
    width: 20%;
    padding:10px;
    margin: 20px;
    height: 250px;
  }

/* Color and Images for Project Containers  */

.project-1 {
  background: url('/Users/kavyamurali/Documents/Project 1 - TrialWebsite/images/tiana.jpeg');
  background-size: cover;
}
.project-2 {
  background-color:rgb(237, 211, 211);
}

.project-3 {
  background-color:#bd748c;
}

.project-4 {
  background-color:#a43a51;
  text-decoration: none;
}

.project-5 {
  background-color: rgb(237, 211, 211);
}

.project-6 {
  background-color:#bd748c;
}

.project-7 {
    background-color:#a43a51;
}

.project-8 {
  background: url('/Users/kavyamurali/Documents/Project 1 - TrialWebsite/images/tiana.jpeg');
  background-size: cover;
}

/* Hover for some boxes */
.project-2:hover {
  background-color:#7a195f;
}

.project-3:hover {
  background-color:#7a195f;
}

.project-4:hover {
  background-color: #7a195f;
}

.project-5:hover {
  background-color:#7a195f;
}

.project-6:hover {
  background-color:#7a195f;
}

.project-7:hover {
    background-color:#7a195f;
}

.project-text {
  text-align: center; 
  font-size: 50px; 
}

/* section 4 */ 
.section-break {
  margin:50px;
  height:500px;
}

.section-heading {
  text-align:center;
  color:#25052a;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
}

/*links*/
.diffpage {
  color:rgb(255, 255, 255) 
}

/* wide column at bottom */
.column-1 {   
  width: 90%;
  height: auto;
  padding-top:70px;
  padding-left:70px;
  padding-bottom:70px;
  margin:auto;
  margin-bottom:50px;
  margin-top: 75px;
  background-color:white;
}

/* Table formatting */
.table-style {
  width:100%;
  border-spacing: 24px;
}

/* Fifth section */

.column-2a {
  float: left;
  width: 35%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  padding-bottom:60px;
  height:450px;
  margin:30px;
  margin-right:20px;
  margin-bottom: 40px;
  margin-left: 10px;
  background-color:white;
}

/* Clear box */ 

.column-quote {
  width: 80%;
  height: 350px;
  padding: 40px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom:100px;
  margin:center;
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom:150px;
  border: 20px solid #4d0b3d;
}

.quote {
  font-size:80px;
  font-weight:bold;
  line-height: 1;
  text-align: center;
}